<div class="company-data">
  <ul>
    <li><span class="data-title">Open:</span> $<%= company_data[:open] %></li>
    <li><span class="data-title">High:</span> $<%= company_data[:high] %></li>
    <li><span class="data-title">Low:</span> $<%= company_data[:low] %></li>
    <li><span class="data-title">Volume:</span> <%= company_data[:volume] %></li>
    <li><span class="data-title">Change:</span> <%= company_data[:change_percent] %>%</li>
    <li><span class="data-title">P/E:</span> <%= pe_ratio %>%</li>
    <li><span class="data-title">Dividend Yield:</span> <%= dividend_yield %>%</li>
  </ul>
</div>
