<div class="col-4">
  <div class="row card-company flex-row-reverse">
    <%= link_to group_companies_pointer_path(current_user.groups.first, current_user.groups.first.companies_pointers[index]), method: :delete, data:{confirm: "Are you sure you want to remove from Dashboard?"}, title: 'Remove from Dashboard', class: "delete" do %>
      <i class="fas fa-times"></i>
    <% end %>
    <div class="col-6 card-company-graph">
      <%= line_chart company_charts_index_path(company),
          min: nil,
          defer: true,
          colors: ["#75E6DA"],
          points: false,
          width: '100%',
          height: '100px',
          library: {
            scales: {
                xAxes: [{ display: false }],
                yAxes: [{ display: false }]
            }
          }
      %>
    </div>
    <div class="col-6 card-company-content">
      <h3>
        <%= link_to company_path(company) do %>
          <%= get_company_name(company.ticker) %>
        <% end %>
      </h3>
      <p>
        <% if signed_in? %>
          <%= link_to new_company_companies_pointer_path(company), title: 'Add to a portfolio', class: 'text-decoration-none' do %>
            <i class="fas fa-plus-circle mr-1"></i>
          <% end %>
        <% else %>
          <%= link_to 'Sign In', data: {toggle: "modal", target: "#modalLRForm"} do %>
          <i class="fas fa-plus-circle mr-1"></i>
          <% end %>
        <% end %>
        <%= company.ticker %>
      </p>
      <h3>
        <%if (company.prices[-1] - company.prices[-2]) >= 0 %>
          <i class="fas fa-arrow-up mr-2 arrow"></i>
        <%else %>
          <i class="fas fa-arrow-up mr-2 arrow down"></i>
        <%end %>
        <span class="stock-price"><%= (quote_endpoint(company.ticker)[:price]).to_f.round(2) %></span>
      </h3>
    </div>
  </div>
</div>
