<div class="company-description">
  <% if signed_in? %>
    <%= link_to new_company_companies_pointer_path(@company), title: 'Add to group' do %>
      <i class="fas fa-plus-circle add"></i>
    <% end %>
  <% else %>
    <%= link_to 'Sign In', data: {toggle: "modal", target: "#modalLRForm"} do %>
      <i class="fas fa-plus-circle add"></i>
    <% end %>
  <% end %>
  <%= image_tag google_search(get_company_name(@company.ticker))[:img], class: "company-logo" %>
  <h1><%= get_company_name(@company.ticker) %></h1>
  <h2 class="company-ticker"><%= @company.ticker %></h2>
  <h2>
    <% if @company_data[:change_percent] >= 0 %>
      <i class="fas fa-arrow-up mr-2 arrow"></i>
    <% else %>
      <i class="fas fa-arrow-up mr-2 arrow down"></i>
    <% end %>
    <span class="stock-price">
      <%= quote_endpoint(@company.ticker)[:price] %>
    </span>
  </h2>
  <p>
    <%= google_search(get_company_name(@company.ticker))[:description] %>
  </p>
</div>

