<div class="col-6">
  <div class="card-market">
    <div>
      <p><%=market_index.name%></p>
      <p><%=market_index.price%></p>
    </div>
    <div class="card-market-subtext">
      <p><%=market_index.ticker%></p>
      <% if market_index.change >= 0 %>
        <p class="movement">
          <%=market_index.change%> (<%=market_index.change_percent%>%)
        </p>
      <% else %>
        <p class="movement down">
          <%=market_index.change%> (<%=market_index.change_percent%>%)
        </p>
      <% end %>
    </div>
  </div>
</div>
