<div class="col-6">
  <div class="card-market">
    <div>
      <p><%=market_index.name%></p>
      <p><%=market_index.price%></p>
    </div>
    <div class="card-market-subtext">
      <p><%=market_index.ticker%></p>
      <p class="movement"><%=market_index.change%> (<%=market_index.change_percent%>%)</p>
    </div>
  </div>
</div>
