<div class="sidebar col-2">
  <ul class="secondary-nav">
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">News</a></li>
  </ul>
  <div class="basket-container">
    <h3 class="mb-3 d-flex justify-content-between">Basket<a href="#"><i class="fas fa-plus-circle add-group"></i></a></h3>
    <div class="basket-cards">
      <%= render 'shared/basket_card' %>
      <%= render 'shared/basket_card' %>
      <%= render 'shared/basket_card' %>
      <%= render 'shared/basket_card' %>
      <%= render 'shared/basket_card' %>
      <%= render 'shared/basket_card' %>
      <%= render 'shared/basket_card' %>
    </div>
  </div>
</div>
