<style>
  .box {
    width: 100px;
    height: 100px;
    border: 1px solid #444;
    color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
</style>

<div class="container py-5">
  <div class="text-center">
    <%= image_tag "logo" %>
    <h1 class="mt-3">companyMD</h1>
    <h2>UI Kit</h2>
  </div>

  <h3 class="my-5 pb-3 border-bottom">Colour Palette</h3>
  <div class="d-flex justify-content-around">
    <div class="box" style="background: #189AB4">PRIMARY</div>
    <div class="box" style="background: #05445E">PRIMARY</div>
    <div class="box" style="background: #D4F1F4; color: black">SECONDARY</div>
    <div class="box" style="background: #3D484D">BODY</div>
    <div class="box" style="background: #E86C5B">UTILITY</div>
    <div class="box" style="background: #80d63e">UTILITY</div>
  </div>

  <h3 class="my-5 pb-3 border-bottom">Typography</h3>
  <h1>Primary heading</h1>
  <h2>Secondary heading</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet purus gravida quis blandit turpis cursus in hac. Enim nec dui nunc mattis enim ut tellus elementum. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Sed id semper risus in hendrerit gravida rutrum quisque. Ornare arcu odio ut sem nulla pharetra diam sit amet. Pellentesque nec nam aliquam sem et tortor consequat. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Adipiscing elit ut aliquam purus sit. Nunc non blandit massa enim. Fames ac turpis egestas sed. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula. Sagittis aliquam malesuada bibendum arcu vitae elementum. Feugiat pretium nibh ipsum consequat nisl vel pretium lectus quam. Diam vulputate ut pharetra sit amet aliquam. Risus commodo viverra maecenas accumsan lacus vel.
  <br><br>
  Est lorem ipsum dolor sit amet consectetur adipiscing. Ipsum faucibus vitae aliquet nec ullamcorper sit. Et leo duis ut diam quam nulla porttitor massa id. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Mauris in aliquam sem fringilla ut morbi tincidunt augue. Consequat interdum varius sit amet mattis. Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. Scelerisque purus semper eget duis at tellus at. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. A iaculis at erat pellentesque.</p>

  <h3 class="my-5 pb-3 border-bottom">UI Components</h3>

  <div class="mb-5">
    <h3 class="my-3">Avatar</h3>
    <%= image_tag "https://randomuser.me/api/portraits/men/18.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  </div>

  <div class="mb-5">
    <h3 class="my-3">Company card</h3>
    <%= render 'shared/company_card' %>
  </div>

  <div class="mb-5">
    <h3 class="my-3">Basket card</h3>
    <div class="col-4">
      <%= render 'shared/basket_card' %>
    </div>
  </div>

  <div class="mb-5">
    <h3 class="my-3">Market card</h3>
    <%= render 'shared/market_card' %>
  </div>

  <div class="mb-5">
    <h3 class="my-3">Sidebar</h3>
    <div class="sidebar col-3">
      <ul class="secondary-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">News</a></li>
      </ul>
      <div class="basket-container">
        <h3 class="mb-3">Basket</h3>
        <%= render 'shared/basket_card' %>
        <%= render 'shared/basket_card' %>
        <%= render 'shared/basket_card' %>
      </div>
    </div>
  </div>
</div>
