<h1><%=@company.ticker%></h1>
<div class="container">
  <%= line_chart @price_data_array, min: @min_price[0]*0.9, width: "800px", height: "500px", points: false %>
  <%= line_chart @indicator_data_array, width: "800px", height: "500px", points: false %>
</div>

  <ul>
<% @array.each do |article| %>
  <h3><%= link_to article[1], article[3] %>
  </h3>
  <li><%= article[0] %>-(source)</li>
  <li><%= article[2] %>-(description)</li>
  <li><%= link_to "link", article[3] %>-(url)</li>
<% end %>
  </ul>

<!-- Probably don't need - delete by end of week -->
<%# n = 0 %>
<%# @array.length.times do %>
    <%# @array[n].each do |article| %>
      <%#= article %>
    <%# end %>
    <%# n += 1 %>
<%# end %>

<!-- SOURCE: <%#= article[0] %> TITLE: <%#= article[1] %> DESCRIPTION:<%#= article[2] %> URL:<%#= article[3] %> -->
