<%= render 'shared/sidebar' %>

<div class="content-container col-10">
  <div class="row">
    <div class="col-6">
      <%= render 'shared/company_description' %>
    </div>
    <div class="col-6 d-flex">
      <%= render 'shared/company_data', company_data: @company_data, dividend_yield: @dividend_yield, pe_ratio: @pe_ratio %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <div class="show-graph">
      <%= line_chart company_charts_show_daily_path(@company), min: nil, width: "100%", height: "500px", points: false, colors: ["#75E6DA"] %>
      </div>
    </div>
  </div>
<!-- generate excel file -->
<%= link_to "Download as excel", company_path(@company, format: :xlsx) %> <!-- generate excel file -->


  <div class="row mb-3">
    <div class="col-12">
      <h3 class="mb-3">10-K Reports</h3>
      <div class="reports">
        <% @sec_data.each do |report| %>
        <div class="report-item">
          <%= link_to report[:link], target: '_blank' do %>
            <i class="far fa-file-alt mr-2"></i>Report filed on <%= report[:date] %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<div id="financials">
  <%= form_tag company_financial_path(@company), method: :get, remote: true do %>
  <%= submit_tag "Recent SEC Financial Data for #{@company.ticker}", class: "btn btn-outline-primary" %>
  <% end %>
</div>


  <div class="row">
    <div class="col-12">
      <div id="news-container">
      <%= form_tag company_news_index_path(@company), method: :get, remote: true do %>
      <%= submit_tag "Current News about #{@company.ticker}", class: "btn btn-outline-primary" %>
      <% end %>
        <!-- API CALL for news will fill this div -->
      </div>
    </div>
  </div>
</div>

