<%= render 'shared/sidebar' %>

<div class="content-container col-10">
  <div class="row">
    <div class="col-6">
      <%#= render 'shared/company_description' %>
    </div>
    <div class="col-6 d-flex">
      <%#= render 'shared/company_data', company_data: @company_data, dividend_yield: @dividend_yield, pe_ratio: @pe_ratio %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <div class="show-graph">
      <h3 class="graph-label text-center">
        Last 4 months
        <%= link_to company_path(@company, format: :xlsx), class: 'text-decoration-none', title: 'Download data as excel' do %>
          <i class="fas fa-file-excel ml-2 download"></i>
        <% end %>
      </h3>
      <%= line_chart company_charts_show_daily_path(@company), min: nil, width: "100%", height: "500px", points: false, colors: ["#75E6DA"] %>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div>
      <%= form_tag company_financial_path(@company), method: :get, remote: true do %>
      <%= submit_tag "Recent SEC Financial Data for #{@company.ticker}", class: "btn btn-lg btn-outline-primary mt-3" %>
      <% end %>
    </div>
    <div>
      <%= form_tag company_news_index_path(@company), method: :get, remote: true do %>
      <%= submit_tag "Fetch news about #{@company.ticker}", class: "btn btn-lg btn-outline-primary mt-3" %>
      <% end %>
    </div>
    <div>
      <%= form_tag  company_sec_data_fetches_path(@company), method: :get, remote: true do %>
      <%= submit_tag "Fetch SEC Report links for #{@company.ticker}", class: "btn btn-lg btn-outline-primary mt-3" %>
      <% end %>
    </div>
  </div>

  <div id="content-space"></div>

</div>


